/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 100vh;
}

section {
  padding: 100px 0;
}

footer {
  padding: 50px 0 20px; /*140px 0 200px*/
}

h1, h2, h4, h6, p, ul {
  margin: 0px 0 32px;
}

h1 {
  margin-top: 7vh;
  font-size: 3em;
  line-height: 80px;
}

h2 {
  font-size: 30px;
  line-height: 50px;
}

h4 {
  font-size: 22px;
  line-height: 34px;
}

h6 {
  font-size: 19px;
  line-height: 31px;
}

p {
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.16px;
}

/* Section Styles */
header {
  background-color: #28669F;
  color: #fff;
}

header a {
  color: rgba(255,255,255,.9);
}

header a:hover {
  color: rgba(255,255,255,.25);
  text-decoration: none;
}

header a:visited {
  color: rgba(255,255,255,.9);
  text-decoration: none;
}

.about {
  background-color: #fff;
}

.blue-project {
  background-color: #0098b4;
}

.gray-project {
  background-color: #232c39;
}

.orange-project {
  background-color: #ff7268;
}

.learning {
  background-color: #eff4f4;
}

.contact {
  background-color: #161616;
}

footer {
  background-color: #fff;
}

/* Typography Styles */
.light-type h2,
.light-type h4 {
  color: rgba(255,255,255,.9);
}

.light-type p {
  color: rgba(255,255,255,.75);
}

.dark-type h2,
.dark-type h4 {
  color: rgba(0,0,0,.9);
}

.dark-type p {
  color: rgba(0,0,0,.75);
}

header h1,
header ul {
  text-align: center;
}

/* Button Styles */
.btn {
 border: 1px solid rgba(0,0,0,.75);
 font-size: 17px;
 padding: 7px 12px;
 font-weight: normal;
 margin: 6px 0;
 display: inline-block;
 margin-right: 12px;
 text-decoration: none;
 min-width: 120px;
}

.btn:focus {
  outline:0;
}

.btn-dark {
 background: rgba(0,0,0,0);
 color: rgba(0,0,0,.75);
 border: 1px solid rgba(0,0,0,.75);
}

.btn-dark:hover, .btn-dark:active {
  background: rgba(0,0,0,0);
  color: rgba(0,0,0,1);
  border: 1px solid rgba(0,0,0,1);
}

.btn-light {
 background: rgba(0,0,0,0);
 color: rgba(255,255,255,.75);
 border: 1px solid rgba(255,255,255,.75);
}

.btn-light:hover, .btn-light:active {
  background: rgba(0,0,0,0);
  color: rgba(255,255,255,1);
  border: 1px solid rgba(255,255,255,1);
}
